body{
  margin: 0;
  padding: 0;
}
main .container{
  width: 90%;
  height: 100%;
  /* background-color: aliceblue; */
  margin: 0 auto;
}
img{
  width: 32%;
}

.wrapper{
  margin: 0;
  /* background-color: red; */
  width: 100%;
  height: 100vh;
}
header{
  height: 10vh;
  /* background-color: blue; */
}
main{
  /* background-color: aqua; */
  width: 100%;
}
footer{
  height: 10vh;
  text-align: center;
}
