.wrapeer{
  margin: 0;
  padding: 0;
  background-image: url();
}
body{
  padding: 0%;
  margin: 0%;
}

header{
    background-color: blue;
    padding: 0;
    margin:0;
    display:flex;
    width: 100vw;
    height: 10vh;
}
div{
    padding:0;
    margin:0;
    background-color: aqua;
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    text-align: center;
}
p{
    padding:0;
    margin: 0%;
    display: flex;
    margin-left: 1vw;
    white-space: nowrap;
    margin-top: 20px;

}
